@import url('<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">');
.wrapper{
    background-color: pink;
}
.quote-box {
    width: 550px;
    padding: 40px 50px;
    margin: 10% auto auto;
    position: relative;
    display: table;
    border-radius: 2%;
    border: 2px solid black;
    background-color: #fff;  
}
.text{
    font-family: 'Gamja Flower',cursive;
    font-size: 3em;
    text-align: center;
   
}
.author{
    font-family: 'Open Sans Condensed',cursive;
    font-size: 2em;
    text-align: right;
}
.next-quote{
    position: absolute;
    font-size: 2em;
}
.buttons{
    font-size: 2em;
    
}
.fa-twitter{
    padding: 1em;
    cursor: pointer;
    color: #00CC;
}
.fa-tumblr{
    padding:1em;
    cursor: pointer;
}
    
  
  
